@model GCloud.Models.Domain.MinimumTurnoverCouponVisibility

@using (Html.BeginForm("", "", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.MinimumTurnover)
        @Html.EditorFor(model => model.MinimumTurnover, new { htmlAttributes = new { @class = "form-control", @type = "number", @min="0", @step = ".01" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DateRange)
        @Html.EditorFor(model => model.DateRange, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0" } })
    </div>
    <input class="btn btn-primary" type="submit" value="Übernehmen" />
}   