@using Microsoft.Ajax.Utilities

@{
    ViewBag.Title = "ALLGEMEINE NUTZUNGS- UND GESCHÄFTSBEDINGUNGEN";
    bool showNavBars = Request.Params.Get("fullscreen") == null ? true : false;
}
@if (!showNavBars)
{
    <style>
        body {
            padding-top: 0;
        }
        div.navbar.navbar-default {
            display: none;
        }
    </style>
}

<h2>ALLGEMEINE NUTZUNGS- UND GESCHÄFTSBEDINGUNGEN</h2>
<h3>1. Präambel</h3>
<p>
    MV-Data Datenverarbeitung GmbH betreibt eine Internet-Plattform, die ihren Usern die Möglichkeit bietet, kostenlos Gutscheine und Angebote von
    teilnehmenden Gastronomiebetrieben zu finden und zu nutzen.
</p>
<h3>2. Allgemeine Bestimmungen</h3>
<h4>2.1. Geltungsbereich der AGB</h4>
<p>
    2.1.1. Die Allgemeinen Nutzungs- und Geschäftsbedingungen der MV-DATA Datenverarbeitung GmbH (im Folgenden kurz „AGB“) gelten für die Internetseite https://www.foodjet.online/
    samt allen zu dieser Domain gehörenden Subdomains und Webseiten sowie mobilen Applikationen (im Folgenden kurz „Apps“).<br />
    2.1.2. Die AGB gelten sowohl für User, die über die Internet-Plattform Gutscheine der Gastronomiebetriebe (im Folgenden kurz „User“) als auch für Händler, die ihre Angebote und
    Gutscheine über die Internet-Plattform den Usern zugänglich machen bzw. deren Agenturen (im Folgenden kurz „Händler“). User und Händler werden im Folgenden gemeinsam als „Kunden“
    bezeichnet.<br />
    2.1.3. Durch die Nutzung der Internet-Plattform gelten die AGB als vereinbart, sofern und soweit nichts anderes ausdrücklich schriftlich vereinbart oder gesetzlich
    zwingend bestimmt ist.<br />
    2.1.4. Es gelten jeweils die aktuell auf der Internet-Plattform veröffentlichten AGB.
</p>
<h4>
    2.2. Änderung der AGB
</h4>
<p>
    2.2.1. MV-Data Datenverarbeitung GmbH behält sich das Recht vor, ihre AGB jederzeit ohne Angabe von Gründen und ohne gesonderte Verständigung der Kunden zu ändern.
    Bei Nutzung der Internet-Plattform gilt die Zustimmung zu den geänderten AGB als erteilt.
</p>
<h4>2.3. Entgegenstehende Allgemeine Geschäftsbedingungen</h4>
<p>
    2.3.1. Den gegenständlichen AGB entgegenstehende Allgemeine Geschäftsbedingungen von Kunden gelten nur, wenn sich MV-DATA Datenverarbeitung GmbH diesen ausdrücklich
    schriftlich unterworfen hat.
</p>
<h3>3. Rechtliche Rahmenbedingungen für die Nutzung der Internet-Plattform</h3>
<h4>3.1. Dargestellte Angebote, Prospekte und Gutscheine</h4>
<p>
    3.1.1. Die auf der Internet-Plattform dargestellten Angebote und Gutscheine sind keine rechtsgeschäftlichen Angebote, sondern lediglich Informationen. MV-Data Datenverarbeitung
    GmbH ist weder Verkäufer der dargestellten Waren und Dienstleistungen noch Stellvertreter oder Gehilfe des Händlers. Zwischen dem User und der MV-Data Datenverarbeitung GmbH
    kommt daher keinerlei wie immer geartetes Vertragsverhältnis bezüglich der dargestellten Waren und Dienstleistungen zustande.<br />
    3.1.2. MV-Data Datenverarbeitung GmbH übernimmt keine Gewähr für die Vollständigkeit, Aktualität, Richtigkeit und Qualität der Information über die auf der Internet-Plattform
    dargestellten Waren und Dienstleistungen. Insbesondere wird keine Gewähr dafür übernommen, dass die auf der Internet-Plattform dargestellten Waren und Dienstleistungen zu den
    angegebenen Bedingungen beim betreffenden Händler tatsächlich erworben werden können.
</p>
<h4>3.2. Gutscheine beziehen und einlösen</h4>
3.2.1. Der User hat die Möglichkeit über die Internet-Plattform kostenlos Gutscheine der Händler in elektronischer Form zu beziehen. Die Einlösung erfolgt durch Vorzeigen des
Gutscheins auf dem mobilen Endgerät oder in ausgedruckter Form beim betreffenden Händler. Die Gutscheine gelten nur für die jeweiligen auf der Internet-Plattform konkret dargestellten
Waren und Dienstleistungen innerhalb des festgelegten Gültigkeitszeitraums und zu den angeführten Bedingungen. Nach Ablauf des Gültigkeitszeitraums kann die Einlösung des Gutscheins
nicht mehr verlangt werden.
<h4>3.3. Allgemein zugängliche Dienste / Registrierungspflichtige Dienste</h4>
3.3.1. Der Dienst steht - sofern im Einzelnen nicht etwas anderes angegeben ist (zB bestimmte Einschränkungen) - jedem Nutzer zur Verfügung, der über die für die Nutzung des
Dienstes erforderliche technische Ausstattung verfügt. MV-DATA Datenverarbeitung GmbH leistet keine Gewähr, dass der Dienst mit der technischen Ausstattung des Nutzers kompatibel
ist oder bleibt. Es ist zu jedem Zeitpunkt Sache des Nutzers, über die für die Nutzung des Dienstes erforderliche technische Ausstattung zu verfügen.
Für das Suchen und Finden von Angeboten ist grundsätzlich keine Registrierung durch den User erforderlich.
<h4>3.4. Benachrichtigungen über Angebote und Gutscheine</h4>
3.3.1. Die Internet-Plattform bietet für User die Möglichkeit an, eine Benachrichtigung per Push-Mitteilung über konkrete Angebote und Gutscheine zu erhalten.
Eine Benachrichtigung per Push-Mitteilung setzt voraus, dass der User die dafür erforderliche App auf seinem mobilen Endgerät installiert hat. MV-DATA Datenverarbeitung GmbH
übernimmt keinerlei Haftung für eine rechtzeitige oder umfassende Benachrichtigung des Users.
<h4>  3.5. Bereitstellung von Inhalten durch den Händler</h4>
3.5.1. MV-Data Datenverarbeitung GmbH bietet dem Händler auf Basis einer vertraglichen Vereinbarung mit der MV-Datanverarbeitung GmbH die Möglichkeit, Angebote und Gutscheine
sowie allenfalls weiterer Informationen über die Internet-Plattform dem User zugänglich zu machen. Die Einspeisung der vom Händler bereitgestellten Inhalte auf die Internet-Plattform
erfolgt in Form der Selbsteingabe. Die Haftung für die Richtigkeit der vom Händler bereitgestellten Inhalte liegt beim Händler.<br />
3.5.2. Der Händler garantiert für die von ihm bereitgestellten Inhalte die Einhaltung aller in Betracht kommenden gesetzlichen, behördlichen und vertraglichen Bestimmungen.
Der Händler hat sittenwidrige, nationalsozialistische, rassistische, gegen das das Ansehen oder die Interessen der MV-DATA Datenverarbeitung GmbH verstoßende Inhalte zu unterlassen.<br />
3.5.3. MV-DATA Datenverarbeitung GmbH behält sich das Recht vor, die Einspeisung von Inhalten, die durch den Händler bereitgestellt werden, auf die Internet-Plattform ohne Angaben
von Gründen abzulehnen. Weiters behält sich MV-Data Datenverarbeitung GmbH das Recht vor, jederzeit rechtswidrige vom Händler bereitgestellte Inhalte von der Internet-Plattform zu
entfernen.
<h4>3.6. Registrierung</h4>
3.6.1. Die Registrierung durch den User erfolgt mittels Eingabe eines Benutzernamens, E-Mail-Adresse, Vor- und Nachname, dem Geburtsdatum und eines persönlichen Passworts im
Anmeldeformular (Pflichtfelder). Die E-Mail-Adresse darf noch nicht auf der Internet-Plattform registriert sein. Zu beachten ist ferner, dass die E-Mail-Adresse keine fremden
Kennzeichenrechte (Namensrecht, Markenrecht etc.) oder andere Schutzrechte Dritter verletzt sowie nicht gegen die guten Sitten verstößt. Der User verpflichtet sich die MV-DATA
Datenverarbeitung GmbH vollkommen schad- und klaglos zu halten (einschließlich Rechtsanwalts- und Gerichtskosten), sollten Dritte Ansprüche aus der Verletzung von Kennzeichen-
oder sonstigen Schutzrechten auf Grund des vom User gewählten Benutzernamens gegen die MV-DATA Datenverarbeitung GmbH geltend machen.
Der Nutzer ist im eigenen Interesse verpflichtet, seine Zugangsdaten (zB Benutzername, E-Mail-Adresse, Passwort etc) geheim zu halten und vor unbefugten Zugriffen Dritter
zu schützen. MV-DATA Datenverarbeitung GmbH übernimmt keinerlei Haftung für eine unbefugte oder missbräuchliche Verwendung von Zugangsdaten. Der Nutzer ist ferner verpflichtet,
der MV-DATA Datenverarbeitung GmbH eine allfällige unbefugte oder missbräuchliche Verwendung seiner Zugangsdaten umgehend per E-Mail an contact@foodjet.online zu melden und die
weiteren Anweisungen der MV-DATA Datenverarbeitung GmbH zu befolgen. Bei Verletzung einer der vorstehenden Pflichten haftet der Nutzer für Schäden aus der unbefugten oder
missbräuchlichen Verwendung seiner Zugangsdaten. Kosten, die der MV-DATA Datenverarbeitung GmbH durch die Verfolgung von Missbrauch entstehen, können dem Verursacher in Rechnung gestellt
werden.<br />
Vom Nutzer eingegebene Daten dürfen nicht geeignet sein, Schäden an den Diensten, Computern, Servern oder anderen technischen Einrichtungen der MV-DATA Datenverarbeitung GmbH oder
anderer Personen zu verursachen, oder unzulässigerweise in Dienste, Computer, Server oder andere technische Einrichtungen einzugreifen (zB durch Viren, Trojaner oder sonstige Malware,
Webcrawler, Robots, etc).<br />
3.6.2. Zusätzlich zu den Pflichtfeldern kann der User freiwillig seine persönlichen Daten im Anmeldeformular eingeben. MV-DATA Datenverarbeitung GmbH kann für die Inanspruchnahme
bestimmter Dienste die verpflichtende Eingabe bestimmter persönlicher Daten des Users vorsehen, wenn das zur Erfüllung der jeweiligen vertraglichen Leistung durch foodjet.online erforderlich
ist. Der User ist zur wahrheitsgemäßen Angabe seiner Daten verpflichtet. Bei nach der Registrierung eintretenden Veränderungen der erhobenen Daten hat der User die Angaben im Anmeldeformular
unverzüglich zu aktualisieren.<br />
3.6.3. MV-DATA Datenverarbeitung GmbH behält sich das Recht vor, ohne Angabe von Gründen die Registrierung eines Users abzulehnen bzw. bestehende Registrierungen von Usern jederzeit zu
löschen. Von diesem Recht kann MV-DATA Datenverarbeitung GmbH beispielsweise Gebrauch machen, wenn der Nutzer den Dienst für einen längeren Zeitraum (12 Monate) nicht in Anspruch nimmt
und/oder auf eine Kontaktanfrage der MV-DATA Datenverarbeitung GmbH nicht reagiert.<br />
3.6.4. Der User kann die Löschung seiner Registrierung jederzeit von MV-DATA Datenverarbeitung GmbH - per E-Mail an contact@foodjet.online oder per Post an die im Impressum
angeführte Adresse - verlangen. Mit Löschung der Registrierung können diesem User die für registrierte User vorbehaltenen Leistungen auf der Webseite nicht mehr angeboten werden.
<h3>4. Urheberrecht und gewerbliche Schutzrechte</h3>
<h4>4.1. Schutz der abrufbaren Inhalte</h4>
4.1.1. Die über die Internet-Plattform abrufbaren Inhalte (Texte, Fotos, Logos/Marken, Designs etc.) sowie die zugrunde liegende Software und Datenbank können urheberrechtlich
und/oder durch Patent-, Marken- und/oder durch andere Schutzrechte geschützt sein. Deren Verwendung ist daher nur im Rahmen der vertraglichen und/oder gesetzlichen Bestimmungen
gestattet. Die weitere Verbreitung der Inhalte ist grundsätzlich untersagt, sofern sie in diesen AGB nicht ausdrücklich gestattet wird.<br />
4.1.2. Es ist ausdrücklich gestattet Inhalte der Internet-Plattform über Social Plugins auf sozialen Netzwerken mit anderen zu teilen.<br />
4.1.3. Eine Verlinkung auf die Internet-Plattform oder einzelne Webseiten derselben ist grundsätzlich willkommen und erwünscht. MV-DATA Datenverarbeitung GmbH behält sich jedoch
das Recht vor, Verlinkungen auf die Internet-Plattform oder einzelne Webseiten derselben ohne Angabe von Gründen zu untersagen. In diesem Fall ist der User, welcher auf die
Internet-Plattform oder einzelne Webseiten derselben verlinkt, zur unverzüglichen Löschung der Verlinkung verpflichtet.
<h4>4.2. Rechtseinräumung durch den Händler</h4>
4.2.1. Mit der Übermittlung der von ihm bereitgestellten Inhalte an MV-DATA Datenverarbeitung GmbH oder deren Kooperationspartner räumt der Händler selbst oder im Namen
des Rechteinhabers der MV-DATA Datenverarbeitung GmbH das nicht-exklusive und übertragbare Nutzungsrecht ein, diese Inhalte zeitlich und räumlich unbegrenzt im Rahmen der
Internet-Plattform sowie im Rahmen der in Form einer White-Label-Lösung oder mittels Verlinkung eingebundenen Internet-Plattform in die Online-Portale der Kooperationspartner
der MV-DATA Datenverarbeitung GmbH zu verbreiten, zu ändern, zu bearbeiten, zu veröffentlichen bzw. öffentlich zur Verfügung zu stellen. Die Rechtseinräumung umfasst alle für
den Betrieb der Internet-Plattform und damit in Zusammenhang stehenden notwendigen Verwertungshandlungen in jedem möglichen als auch zukünftig möglichen technischen Verfahren print,
online, mobile und auch in Form von Apps. Die Rechtseinräumung umfasst gleichzeitig das Recht der MV-DATA Datenverarbeitung GmbH die Inhalte zu Eigenwerbezwecken zu nutzen. Der Händler
garantiert der MV-DATA Datenverarbeitung GmbH zur Rechtseinräumung an die MV-DATA Datenverarbeitung GmbH berechtigt zu sein und keine berechtigten schutzwürdigen Interessen Dritter zu
verletzen. Der Händler räumt der MV-DATA Datenverarbeitung GmbH weiters das Recht ein, sein Logo auf der Internet-Plattform zu platzieren.
<h3>5. Haftung und Gewährleistung</h3>
5.1. Die Haftung für Gewährleistung und Schadenersatz richtet sich nach den gesetzlichen Bestimmungen, sofern und soweit in diesen AGB nicht ausdrücklich etwas anderes bestimmt ist.
MV-Data Datenverarbeitung GmbH haftet nur bei Vorsatz und grober Fahrlässigkeit. Eine weitergehende Haftung, insbesondere für indirekte Schäden, entgangenen Gewinn, Mangel- und
Folgeschäden, Verzögerungsschäden, Datenverlust, Nutzungsausfall, höhere Gewalt, ideelle Schäden, Schäden Dritter etc. wird – sofern und soweit eine derartige Haftung nicht zwingend
gesetzlich vorgesehen ist – ausgeschlossen.<br />
5.2. Die Haftung für vom Händler bereitgestellte Inhalte liegt ausschließlich beim betreffenden Händler. Weder die MV-Data Datenverarbeitung GmbH noch deren Kooperationspartner
übernehmen irgendeine Haftung für die vom Händler bereitgestellten Inhalte, insbesondere auch nicht für die Gesetzeskonformität derselben. Für den Fall der Inanspruchnahme der MV-Data
Datenverarbeitung GmbH und/oder deren Kooperationspartner durch Dritte wegen einer Rechtsverletzung hält der Händler die MV-Data Datenverarbeitung GmbH und/oder deren Kooperationspartner
vollkommen schad- und klaglos; dies umfasst auch Rechtsanwalts- und Gerichtskosten.<br />
5.3. MV-Data Datenverarbeitung GmbH übernimmt keinerlei Haftung für die ständige Verfügbarkeit der Internet-Plattform, einschließlich sämtlicher dazugehöriger Webseiten, Subdomains,
Links, Apps, etc. sowie für Fehler, Verzögerungen oder Unterbrechungen, Viren, Datenverlust, Datenlöschung oder Datenmissbrauch.<br />
5.4. Die Internet-Plattform enthält Links zu anderen Webseiten. MV-Data Datenverarbeitung GmbH identifiziert sich nicht mit den Inhalten der Webseiten, auf die gelinkt wird, und
übernimmt dafür keine Haftung.<br />
<h3>
    6. Social Media
</h3>
6.1. Jeder Nutzer einer etwaig zur Verfügung gestellten Share-Funktion (E-Mail, facebook, twitter, whatsApp etc.) trägt die volle inhaltliche Verantwortung für alle von ihm
versendeten Nachrichten. Dabei müssen alle geltenden Gesetze und insbesondere die geltenden AGB der jeweiligen Plattform eingehalten werden. MV-DATA Datenverarbeitung GmbH trägt
keine Verantwortung für den Inhalt von versendeten Nachrichten.<br />
6.2. Durch Anklicken des jeweiligen Follow Buttons gelangt der Nutzer via Website/App zu den Auftritten der MV-DATA Datenverarbeitung GmbH in den sozialen Netzwerken
(zB Facebook-Page). Für die durch den Besuch eines Auftritts in den sozialen Netzwerken ausgelöste Verarbeitung von Daten des Nutzers gelten die Datenschutzrichtlinien
der einzelnen sozialen Netzwerke.<br />
<h3> 7. Support</h3>
7.1. MV-DATA Datenverarbeitung GmbH bietet den Händlern einen Support für die Nutzung der Internet-Plattform per E-Mail und auch am Telefon an. MV-DATA Datenverarbeitung GmbH
kann keine Gewähr für die Erreichbarkeit des Supports übernehmen. Bei wiederholter Inanspruchnahme dieser Supportleistungen der MV-DATA Datenverarbeitung GmbH ist MV-DATA
Datenverarbeitung GmbH berechtigt die Leistungen in Rechnung zu stellen.
<h3>8. Schlussbestimmungen</h3>
<h4>8.1. Rechtsnachfolge</h4>
8.1.1. Im Falle einer Einzel- oder Gesamtrechtsnachfolge im Zuge einer Umgründungsmaßnahme ist MV-Data Datenverarbeitung GmbH berechtigt, sämtliche Rechte und Pflichten aus dem
Vertragsverhältnis mit dem Händler ohne dessen Zustimmung auf den Rechtsnachfolger zu übertragen.<br />
8.1.2. Der Händler ist verpflichtet sämtliche Rechte und Pflichten auf Rechtsnachfolger (Einzel- oder Gesamtrechtsnachfolge) zu überbinden. Die Weitergabe von Rechten und
Pflichten an Dritte ist dem Händler ohne vorherige ausdrückliche schriftliche Zustimmung der MV-Data Datenverarbeitung GmbH nicht gestattet.
<h4>8.2. Schriftform</h4>
8.2.1. Allfällige Beendigungen, Änderungen oder Ergänzungen im Zusammenhang mit der Internet-Plattform mit MV-Data Datenverarbeitung GmbH abgeschlossener Vereinbarungen
bedürfen zu ihrer Gültigkeit der Schriftform, sofern und soweit nicht ausdrücklich etwas anders in diesen AGB oder in einem schriftlichen Vertrag bestimmt ist. Dies gilt auch
für das Abgehen vom Schriftformerfordernis.
<h4>8.3. Salvatorische Klausel</h4>
8.3.1. Die Unwirksamkeit oder Nichtigkeit einzelner Bestimmungen dieser AGB lässt die Geltung der übrigen Bestimmungen dieser AGB unberührt. Die unwirksamen oder nichtigen
Bestimmungen werden durch gültige und durchsetzbare ersetzt, die den beabsichtigten Zweck so gut wie möglich erreichen. Dies gilt sinngemäß auch für den Fall einer Lücke in diesen AGB.
<h4>8.4. Anwendbares Recht, Erfüllungsort und Gerichtsstand</h4>
8.4.1. Auf alle Rechtsverhältnisse zwischen MV-Data Datenverarbeitung GmbH und den Kunden aus und im Zusammenhang mit der Internet-Plattform findet österreichisches
Recht unter Ausschluss der Verweisungsnormen des IPR und des UN-Kaufrechtsübereinkommens Anwendung.<br />
8.4.2. Erfüllungsort ist der Sitz der MV-Data Datenverarbeitung GmbH.<br />
8.4.3. Für Streitigkeiten aus und im Zusammenhang mit der Internet-Plattform gilt das sachlich zuständige Gericht in Wien als vereinbart, sofern zwingende Bestimmungen
des Konsumentenschutzgesetzes nicht entgegenstehen.<br />

