<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="Replace" name="GCloudContext" connectionString="Data Source=127.0.0.1,1433;Initial Catalog=GCloud;Integrated Security=False;User ID=sa;Password=kate1;Application Name=GCloud;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--<system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>-->
  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="CanonicalHostNameRule1">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.foodjet\.online$" negate="true" />
          </conditions>
          <action type="Redirect" url="http://www.foodjet.online/{R:1}" />
        </rule>
        <rule name="HTTP/S to HTTPS Redirect" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny">
            <add input="{SERVER_PORT_SECURE}" pattern="^0$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
